// colors

$color-light:#7ed56f;
$color-medium:#55c57a;
$color-dark:#25a379;

$color-secondary-light:rgb(255, 187, 103);
$color-secondary-dark:rgb(255, 104, 107);

$color-tertiary-light: rgb(126, 203, 244);
$color-tertiary-medium:rgb(67, 166, 238);;
$color-tertiary-dark:rgb(17, 130, 193);

$standard-box-shadow:0px 7px 18px -11px rgba(0, 0, 0, .35);

$color-white:rgb(255,255,255);
$color-black:rgb(0,0,0);
$color-grey:rgba(60, 59, 59, 0.991);


$button-border-raidus:10rem;