.form{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    > :not(:last-child){
        margin-bottom: 1rem;
    }
    &-input__group{
        width: 100%;
        &-radio{
            display: flex;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.4rem;
        }
    }
    &-input{
        display: block;
        padding: 1rem 1rem;
        border: 0px;
        font-size: 1.4rem;
        border-bottom: 4px solid transparent;
        border-radius: 5px;
        width: 90%;
        &:focus{
            outline: none;
            border-bottom: 4px solid $color-dark;
        }
        &:not(:placeholder-shown) + &__label{
            opacity: 1;
            visibility: visible;
            top: 0rem;
            left: 1rem;
        }

        &:focus:invalid {
            border-bottom: 4px solid orangered;
        }
        &__label{
            font-size: 1.2rem;
            visibility: hidden;
            opacity: 0;
            position: relative;
            top:-2rem;
            left: 1rem;
            transition: all .1s ease-in;
        }
    }
    &-input__radio-group{
        &:last-child{
            margin-left: 1.5rem;
        }
    }
    &-input__radio-group{
        display: flex;
    }
    &-radio{
        display: none;
    }
    &-input-radio__button{
        &::after{
            content: "";
            height: 1.2rem;
            width: 1.2rem;
            outline: solid 4px $color-dark;
            outline-offset: 2px;
            border-radius: 50px;
            display: inline-block;
            outline-offset: 2px;
            margin-right: 1rem;
        }
    }

    &-radio:checked ~ &-input__radio &-input-radio__button::after{
        background-color: $color-dark;
    }
    

}