.popup{
    height: 100vh;
    width: 100vw;
    background-color: rgba($color-black,.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    visibility: hidden;
    transition: all 1s;
    

    &:target{
        visibility: visible;
        z-index: 1000;
    }

    padding: 5rem 10rem;

    @include response('phone'){
        padding: 3rem 4rem;
    }

    &__content{
        position: relative;
        background-color: white;
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;

        @include response('phone'){
            flex-direction: column;
            overflow-y: scroll;
        }
    }
    &__images{
        display: flex;
        flex-direction: column;

        @include response('phone'){
            & :last-child {
                display: none;
            }
        }
    }
    &__img{
        height: 50%;

        @include response('phone'){
            height: 100%;
        }
    }
    &__info{
        flex-grow: 1;
        padding: 2rem 5rem;
        font-size: 1.3rem;
        font-weight: 400;
        @include response('phone'){
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-detail{
            column-count: 2;
            column-gap: 3rem;

            @include response('phone'){
                column-count: 1;
            }
        }
    }
    &__close{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-weight: 800;
        &:link,
        &:visited{
            text-decoration: none;
            @include response('phone'){
                color: $color-white;
                background-color: rgb(166, 166, 166);
                padding: .5rem 1rem;
            }
        }
        &:hover{
            color: $color-dark;
            cursor: pointer;

        }
    }
}