.u-text-center{
    text-align: center;
}
.u-m-bottom-large{
    margin-bottom: 8rem;
}
.u-m-bottom-medium{
    margin-bottom:4rem;
}
.u-m-bottom-small{
    margin-bottom:2rem;
}
.u-m-top-large{
    margin-top: 8rem;
}
.u-m-top-medium{
    margin-top:4rem;
}
.u-m-top-small{
    margin-top:2rem;
}

.u-color-primary-dark{
    color:$color-dark
}

