.feature{
    padding: 20rem 10rem;
    background-image: linear-gradient(to right bottom, rgba($color-light, 0.8), rgba($color-dark, 0.8)), url('../img/Nat-4.jpg');
    background-size: cover;
    background-position: top;
    transform: skewY(-5deg);
    margin-top: -6rem;
}

.section-tours{
    padding: 20rem;
}