.feature{
    padding: 20rem 10rem;
    background-image: linear-gradient(to right bottom, rgba($color-light, 0.8), rgba($color-dark, 0.8)), url('../img/Nat-4.jpg');
    background-size: cover;
    background-position: top;
    transform: skewY(-5deg);
    margin-top: -6rem;
}

.section-tours{
    padding: 20rem;
}

.section-stories{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0rem;
    // z-index: -2;
}

.section-booking{
    background-image: linear-gradient(to right bottom, rgba($color-medium, 0.8), rgba($color-dark, 0.8));
    padding: 10rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}