.main{
    background-color: rgb(238, 238, 238);
    margin-top: -20vh;
    padding-top: 35vh;
}
.heading-secondary{
    display: inline-block;
    background-image: linear-gradient(to right , $color-light 20%,$color-dark 80%);
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: all .5s;
    &:hover{
        transform: scale(1.2);
    }
}
// .heading-secondary:hover{
    
// }