.feature-container{
    height: 100%;
    width: 100%;
    padding: 15rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: skewY(5deg);
    @include response('desktop'){
    }
    @include response('tab-hor'){
        padding: 15rem 2rem;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    @include response('tab-vert'){
        flex-direction: column;
        gap: 4rem;
    }
    @include response('phone'){
        flex-direction: column;
        gap: 4rem;
    }

}