.footer{
    &__logo{
        width: 10rem;
        margin: 0rem auto;
    }
    &__logo-box{
        width: 100%;
        display: flex;
        // flex-direction: column;
        align-items: center;
    }
    &__info{
        display: flex;
    }
}
.info__links{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    & > *{
        list-style: none;
        &:hover{
            font-weight: 800;
            cursor: pointer;
            // background-color: white;
        }
    } 
    @include response('phone'){
        flex-direction: column;
        align-items: center;
    }
}
.info__copyright{
    width: 50%;
    font-size: 1.2rem;
    padding: 0rem 2rem;
    @include response('phone'){
        font-size: 1.4rem;
    }
}
