.navigation{
    &__container{
        top: 5rem;
        right: 5rem;
        position: fixed;
        height: 6rem;
        width: 6rem;
        background-color: white;
        border-radius: 45px;
        z-index: 200;
        &__background{
                top: 5.5rem;
                right: 5.5rem;
                position: fixed;
                height: 5rem;
                width: 5rem;
                background-image: radial-gradient($color-light,$color-dark);
                border-radius: 45px;
                transform: scale(55);
                z-index: 50;
                visibility: hidden;
        }
    }

   
}
.nav{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 150;
    visibility: hidden;
    &__item{
            list-style: none;
            text-transform: uppercase;
            // font-style: none;
            text-decoration: none;
            padding: 1rem;
            color: white;
            font-size: 2.4rem;
            & > a{
                &:link,
                &:visited{
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 1rem;
                    color: white;
                    font-weight: 400;
                    transition: all .1s ease-in;
                }
                &:hover{
                    background-color: $color-white;
                    color: $color-dark;
                }
            }
    }
}
