.tours{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tour-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include response('tab-vert'){
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    @include response('phone'){
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}